body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-color: bisque;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  height: 720px;
  width: 720px;
}

.column-div{
  aspect-ratio: 1 / 1;
}

.row-div {
  aspect-ratio: 1 / 1;
  border: 1px solid black;
  background-color: white;
}

.change-color {
  transition: all 0.25s ease-out;
  background-color: black;
}